body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: none;
}

a:hover 
{
     text-decoration:none; 
     cursor:pointer;  
}

.main--wrapper{
	background-color: transparent;
}

.page--wrapper{
	min-height: 100vh;
}

.navbar {
    border-radius: 0px;
    margin-bottom: 0px;
    font-weight: lighter;
}

header{
    height: calc(100vh - 60px);
}

.fill {
    width: 100%;
    height: calc(100vh - 60px);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.pad{
    padding: 50px;
}

.no-pad{
    padding: 0;
}

footer {
    padding: 20px 0;
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
    font-weight: lighter;
}

p.copyright {
    margin: 15px 0 0;
}

.parallax-window{
    min-height: 400px;
    background: transparent;
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}



/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    
}